/**.App {
  text-align: center;
}**/
:root {
  --first-colour: #4cff9d;
  --second-colour: white;
  --third-colour: black;
  --fourth-colour: rgb(18, 18, 18);
  --fifth-colour: rgb(194, 194, 194);


  --div-padding: 12px;
  --div-margin: 12px;

  --fs-xl: clamp(3.5rem, 5vw + 1rem, 9rem);
  --fs-l: clamp(2rem, 3vw + 1rem, 5rem);
  --fs-800: 2rem;
  --fs-600: 1.5rem;
  --fs-400: 1rem;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  background: var(--third-colour);
}

.section {
  padding: 100px 0px;
}

.second-section {
  background-color: var(--fourth-colour);
}

h1, h2, h3 , h4, h5 {
  font-family: 'Anton', sans-serif;
}

.navbar {
  background: var(--third-colour);
  color: var(--second-colour);
  padding: 20px 0px;
}

.navbar a {
  color: var(--second-colour);
}
.navbar a:hover {
  color: var(--first-colour);
}

.nav-link {
  margin-left: 24px;
}

.nav-link:hover{
  color: var(--first-colour);
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hero {
  background-color: var(--third-colour);
  min-height: 95vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: var(--second-colour);
  padding-bottom: 200px;
}

.hero {
  background-image: url('img/hero-01.png');
  background-size:  cover;
  background-position: center;
}


.hero h1 {
  /**font-size: var(--fs-xl);**/
  font-size: 150px;
  line-height: 1.1em;
  text-shadow: 2px 2px 12px #0000008a
}

.about h4 {
  border-bottom: solid 2px;
  margin-bottom: 1em;
  color: var(--first-colour);
}

.about {
  color: var(--second-colour);
}

.section-header {
  font-size: var(--fs-l);
  line-height: 1.1em;
}

.services {
  color: white;
}

.services-header {
  color: var(--first-colour);
}

.text-block {
  color: var(--second-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 500px;
}

.text-block-title {
  border-bottom: solid 1px;
  color: var(--first-colour);
}

.text-block-header {
  margin: 24px 0px;
}

.process-section-light {
  padding: 40px;
  background: var(--first-colour);
}

.process-section-dark {
  padding: 40px;
  color: var(--second-colour);
}

/**.process-header {
  font-size: 10em;
}**/

.App-link {
  color: var(--first-colour);
}

.full-width-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  padding: 8px 20px;
  background: rgba(0, 0, 0, 0);
  border: solid var(--first-colour);
  border-radius: 24px;
  color: var(--secondary-colour);
  font-size: 20px;
}

button:hover{
  background: var(--first-colour);
  color: var(--third-colour);
}

span {
  color: var(--first-colour);
}